$primary-color: #6ad7e5;

@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";
@import "snackbar-material";

.comparison-slider {
  height: auto;
  padding-bottom: 56.2222%;
}

.comparison-slider .filter-grayscale {
  filter: grayscale(75%);
}

.block {
  padding: 4rem 0;
}

.btn-github {
  @include button-variant(#333);
}

.dib {
  display: inline-block;
}

.scrollDown {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid lighten($dark-color, 40%);;
  border-bottom: 1px solid lighten($dark-color, 40%);;
  transform: rotate(-45deg);
  animation: scrollDown 1.5s infinite;
  box-sizing: border-box;
}
@keyframes scrollDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.gopherWrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.column > .container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.w-100 {
  width: 100%;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

@keyframes horizontal {
  0% { transform: translateX(0px); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(0px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0px); }
}

@keyframes vertical {
  0% { transform: translateY(0px); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(0px); }
}

.movingGopher {
  animation: horizontal linear .75s infinite;
  &:hover {
    animation: vertical linear .25s infinite;
  }
}
